.cadastrocriacao--wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.cadastrocriacao--banner {
    display: flex;
    width: 100%;
    padding: 30px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    background: url($img-path/cadastrocriacao--banner.png) center top repeat;
    background-attachment: fixed;
    @media (max-width: 1200px) {
      background-attachment: inherit;
    }
    /*
    * IE Fallback
    */
    -ms-flex-flow: column wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 1200px) {
      background-attachment: inherit;
    }

    .cadastrocriacao--banner--title {
        width: 100%;
        padding-bottom: 10px;
        font-family: 'Arista', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 3.5rem;
        letter-spacing: 10px;
        text-align: center;
        text-transform: uppercase;
        color: #38cacf;
    }

    .cadastrocriacao--banner--text {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 20px;
        color: #888888;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        @media (max-width: 1080px){
          padding-left: 15%;
          padding-right: 15%;
        }
    }

    .cadastrocriacao--banner--arrow {
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }
}

.cadastrocriacao--blue_text {
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
    border-bottom-color: transparent;
    color: #38cacf;
    font-size: 2rem;
}

.cadastrocriacao--start {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;

    -ms-flex-flow: nowrap;
    -ms-flex-align: center;
    -ms-flex-pack: center;

    .cadastrocriacao--start--image {
        width: 212px;
        height: 212px;
        margin: 20px;
        order: 2;
    }

    .cadastrocriacao--start--text {
        font-size: 2rem;
        width: 100%;
    }

    .left {
        padding: 0 2.5% 0 7.5%;
        order: 1;
        text-align: right;
    }

    .right {
        padding: 0 5.5% 0 3.5%;
        order: 3;
        text-align: left;
    }

    @media (max-width: 820px) {
        padding-left: 50px;
        padding-right: 50px;
        flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;

        div {
            text-align: center !important;
            margin: auto 15px;
            padding: 0 !important;
        }
    }
}

.cadastrocriacao--steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: url('../../dist/images/l-cadastro-bg-amarelo.png');
    background-attachment: fixed;
    color: #a5a5a5;

    /*
    *  IE Fallback
    */
    display: -ms-flexbox;
    -ms-flex-flow: row nowrap;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    @media (max-width: 1200px) {
      background-attachment: inherit;
    }
    .l-content {
      padding: 40px 0;
      > div {
        float: left;
        text-align: center;
        width: 21.6%;
        @media (max-width: 1200px){
          width: 100%;
          margin-top: 30px;
        }
        .steps--text--group {
          width: 60%;
          margin: 0 auto;
        }
      }
    }

    .cadastrocriacao--steps--title--wrapper {
      display: inline-block;
      width: 20%;
      margin-top: 30px;
      margin-right: 30px;
      margin-left: 20px;
      padding: 20px 20px;
      order: 1;
      -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
      border: 3px solid #ffffff;
      text-align: left !important;
      border-radius: 10px;
      text-transform: uppercase;
      font-family: 'Arista', Helvetica, Arial, sans-serif;
      color: #ff82a2;
      -ms-flex-order: 1;
      @media (max-width: 1180px){
        width: 77% !Important;
        float: inherit !important;
        margin-left: 12% !important;
        text-align: center !important;
      }

        .title {
            display: block;
            font-size: 2.2rem;
            letter-spacing: 1px;
        }

        .text {
            display: block;
            margin-right: 20px;
            font-size: 1.8rem;
            color: #ff82a2;
        }
    }

    > div {

        > img {
            width: 100%;
            margin-bottom: 10px;
        }

        .steps--text {
            display: block;
            padding-bottom: 5px;
        }
        .steps--text__outros {
            color: #38cacf;
        }
    }

    .cadastrocriacao--steps--1 {
        margin-left: 0;

    }
    .cadastrocriacao--steps--2 {
      width: 30% !important;
      @media (max-width: 1200px){
        width: 100% !important;
      }
    }
    .cadastrocriacao--steps--3 {
      margin-top: -13px;
    }

    @media (max-width: 1000px) {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: auto;

        -ms-flex-flow: column;
        -ms-flex-pack: center;
        -ms-flex-align: center;

        > div {
            width: 100% !important;
            margin-left: 0;
            padding-top: 0;
            font-size: 20px;
            width: 100%;
        }

        .cadastrocriacao--steps--title--wrapper {
            margin-top: 0;
            border-right: 3px solid #ffffff;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-top: 30px;
            order: 1;
            -ms-flex-order: 1;
            text-align: left;
        }
        &:nth-child(1) {
            order: 2;
            -ms-flex-order: 2;
        }
        &:nth-child(1) {
            order: 3;
            -ms-flex-order: 3;
        }
        &:nth-child(1) {
            order: 4;
            -ms-flex-order: 4;
        }
    }
}

.cadastrocriacao--grey {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../../dist/images/l-cadastro-bg-branco.png');
    background-attachment: fixed;
    @media (max-width: 1200px) {
      background-attachment: inherit;
    }
    header {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
        text-align: center;
        font-family: "Arista", Helvetica, Arial, sans-serif;
        font-size: 2.5rem;
        color: #ff82a2;
        text-transform: uppercase;
        border-bottom: 1px solid #e1e1e1;
    }

    .cadastrocriacao--grey--wrapper {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: flex-start;
        color: #888888;

        /*
        * IE Fallbacks
        */
        display: -ms-flexbox;
        -ms-flex-flow: row;
        -ms-flex-pack: distribute;
        -ms-flex-align: start;

        > div {
            min-height: 450px;
            margin-left: 20px;
            border-radius: 10px;
            text-align: center;
            padding: 2% 1.5% 0 1.5%;

            > img {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .cadastrocriacao--grey--1 {
            width: 30%;
            margin-left: 0;
            padding-top: 30px;
            order: 1;
            -ms-flex-order: 1;
        }
        .cadastrocriacao--grey--2 {
            width: 50%;
            order: 2;
            -ms-flex-order: 2;
        }
        .cadastrocriacao--grey--3 {
            width: 30%;
            padding-top: 50px;
            order: 3;
            -ms-flex-order: 3;
        }

        @media (max-width: 1000px) {
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: auto;

            -ms-flex-flow: column;
            -ms-flex-pack: center;
            -ms-flex-align: center;

            > div {
                width: 100% !important;
                margin-left: 0;
                margin-top: 40px;
                padding-top: 0 !important;
                font-size: 20px;

                .steps--text {
                    display: block;
                    padding-bottom: 40px;
                }
            }
        }
    }
}

.cadastrocriacao--video--wrapper {
    height: 630px;
    padding: 70px;
    background: url('../../dist/images/l-cadastro-bg-rosa.png');
    background-attachment: fixed;
    @media (max-width: 1200px) {
      background-attachment: inherit;
      height: 530px;
    }
    .cadastrocriacao--desktop {
      @media (max-width: 1080px){
        display: none;
      }
    }
    .cadastrocriacao--mobile {
      display: none;
      @media (max-width: 1080px){
        display: block;
      }
      .m-title-video {
        padding: 20px;
        span {
          font-size: 20px;
          color: #fff;
          text-transform: uppercase;
        }
      }
      .m-video--content {
        padding-top: 20px;
        iframe {
          width: 100%;
          height: 210px;
        }
      }
      .m-button-group {
        text-align: center;
        padding-top: 40px;
        width: 100%;
        span {
          display: block;
          font-size: 17px;
          color: #fff;
        }
        a {
          display: block;
          line-height: 4.5rem;
          background-color: #38cacf;
          border-bottom-color: #29979b;
          color: #ffffff;
          text-transform: uppercase;
          width: 60%;
          margin: 20px auto;
        }
      }
    }

    .cadastrocriacao--video--title {
        width: 30%;
        margin-right: auto;
        padding-right: 50px;
        align-self: flex-end;
        -ms-flex-item-align: end;
        display: inline-block;
        float: left;

        .cadastrocriacao--video--arrow {
            width: 100%;
            height: auto;
            padding-bottom: 100px;
        }
        .start--btn {
          width: 60%;
          text-align: center;
          > div {
            padding-bottom: 10px;
          }
        }

        .btn--blue {
            display: block;
            line-height: 4.5rem;
            background-color: #38cacf;
            border-bottom-color: #29979b;
            color: #ffffff;
            text-transform: uppercase;
            &:hover {
              background-color: #278588;
            }
        }

        > div {
            color: #ffffff;
            font-size: 2rem;
            margin-bottom: 10px;
        }
    }

    .cadastrocriacao--video {
        width: 65%;
        height: 485px;
        float: left;

        iframe {
            width: 100%;
            height: 100%;
            margin: 0;
            border: 0;
        }
    }

    @media (max-width: 1000px) {
        top: -15px;
        padding: 40px 0 0 0;
        flex-flow: column !important;
        -ms-flex-flow: column wrap;

        .cadastrocriacao--video--title {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
            align-self: center;
            text-align: center;

            .cadastrocriacao--video--arrow {
                display: none;
            }
        }

        .cadastrocriacao--video {
            width: 100%;
            height: 50%;
            max-width: 500px;
            margin-top: 50px;
            align-self: center;
            -ms-flex-item-align: center;
        }

        .btn--blue {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }
}
