.history__page{
	lost-flex-container:row;
	width: 100%;
}
.history__content{
	@media (min-width: 920px) {
		lost-column:2/3;
	}

	.produto__page__footer__ask__title{
		justify-content:flex-start;
	}
}
.history__content__header{
	margin-bottom: 2rem;

	@media (min-width: 920px) {
		lost-flex-container:row;
		justify-content: space-between;
	}
}
.history__content__header__info{
	lost-flex-container:row;
	flex: 1;
	margin-bottom: 1rem;
	@media (min-width: 920px) {
		margin-bottom: 0;
	}
}
.history__content__title{

	h1{
		margin-top: 0;
		margin-bottom: 0;
		color: $scooter;
	}

	time{
		color: #5d5d5d;
		font-size: 1.6rem;
	}
}
.history__content__social{
	font-size: 2.2rem;
	@media (min-width: 920px) {
		margin-top: 1rem;
		margin-left: 2rem;
	}

	.icon-facebook{
		color: #4560a1;
	}
	.icon-twitter{
		color: #299df5;
	}
	.icon-google{
		color: #d74c31;
	}
}
.history__content__header__details{}
.history__content__status{
	lost-flex-container:row;
	margin-top: 0;
	margin-bottom: 0;
	@media (min-width: 920px) {
		justify-content: flex-end;
	}
}
.history__content__status__item{
	color: $pink-salmon;

	&:nth-of-type(2){
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
.history__content__tags{
	color: #888888;
	font-size: 1.6rem;
}
.history__content__article{}

.history-hidden-mobile{
	lost-flex-container:row;
	justify-content: center;
	margin-top: 3rem;

	@media (min-width: 920px) {
		display: none;
	}
}
.history-hidden-mobile-btn-comments{
	lost-flex-container:row;
	justify-content: space-between;
	margin-top: 1.5rem;

	span{
		width: 60%;
		color: $pink-salmon;
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
	}

	.btn{
		align-self: center;
	}
}

.history__sidebar{
	width: 100%;
	margin-top: 3rem;
	@media (min-width: 920px) {
		lost-column:1/3;
		margin-top: 0;
	}

	.produto__page__section__title{
		@media (min-width: 920px) {
			color: $jagger;
			background-color: $color-white;
			margin-bottom: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding-top: 1rem;

			&:after{
				content:'';
				display: block;
				width: 90%;
				height: 1px;
				margin-top: 1rem;
				margin-left: auto;
				margin-right: auto;
				background-color: #c9c9c9;
			}
		}
	}

	.historia-list{
		background-color: $color-white;
		padding: 1.5rem;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.btn--pink{
		display: none;
		@media (min-width: 920px) {
			display: block;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
	}
}


.history__page__ask{
	display: none;
	@media (min-width: 920px) {
		display: block;
	}
}
