.home-slide {
    margin-bottom: 2rem;
    transition: 2s ease-in-out;
}

.home_ads {
    .wrap {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.home_ads__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
        lost-column: 1/3 0 0;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*====== depoimentos =====*/

.home_about {
    position: relative;
    margin-top: 4em;
    background: transparent url($img-path/bg-depoimentos.png) center center repeat;
}

.about-video {
    width: 100%;
    margin-bottom: 3rem;
    @media (min-width: 960px) {
        lost-column: 3/5;
    }
}

.about-video__title {
    width: 100%;
    margin: 3rem auto;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: #401053;
}

.about-video__embed {}

.about-testimony {
    @media (min-width: 960px) {
        lost-column: 2/5;
    }
}

.about-testimony__content {
    /*max-width: 472px;
    background: url($img-path/mask-depo.png) no-repeat center;*/
    height: 265px;
    overflow-y: scroll;
    background-color: #ffffff;
    padding-top: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.about-testimony__item {
    padding-bottom: 2rem;
    margin: 0 3.5rem 2rem 3.5rem;
    border-bottom: 1px #eeeeee solid;
    &:last-of-type {
        border-bottom: none;
    }
}

.about-testimony__text {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    color: #888888;
    font-weight: 400;
}

.about-testimony__author {
    font-size: 14px;
    font-size: 1.4rem;
    color: $color-grey-light;
    display: block;
    text-align: center;
    font-weight: 600;
}


/*====== fim dos depoimentos =====*/

.home_historias {
    background-color: $color-white;
}
