img {
  vertical-align: middle;
}
li {
  list-style: none;
}
.m-center--content {
  max-width: 1280px;
  margin: 0 auto;
}
.m-title--area {
  padding-top: 60px;
  @media (max-width: 1080px){
    padding-top: 0
  }
  .c-title {
    span {
      font-size: 35px;
      text-transform: uppercase;
      color: #fff;

    }
  }
  .c-subtitle {
    padding-top: 30px;
    span, a  {
      color: #ffe96c;
      font-size: 20px;
      font-family: $font;
      line-height: 25px;
      @media (max-width: 1080){
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

/* banner top */
.l-banner--top__content {
  @media (max-width: 1080px){
    display: none;
  }
  &.m-mobile {
    display: none;
    @media (max-width: 1080px){
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


/*Section 2*/

.l-u--products {
  &.m-desktop {
    background: url('../../dist/images/l-lm-second-bg.jpg');

    @media (min-width: 1080px){
        background-attachment: fixed;
    }
    @media (max-width: 1080px){
      display: none;
    }
    .l-u--products__content {
      padding: 20px;

      .m-content--area {
        position: relative;
        .c-button {
          display: inline-block;
          position: absolute;
          right: 8%;
          span {
            font-size: 29px;
            font-weight: 600;
            color: #fff;
            background: #ff8a00;
            border-radius: 10px;
            padding: 15px 20px 15px 35px;
            cursor: pointer;
            border-bottom: 4px solid #c06800;
            &:before {
              content: "";
              display:inline-block;
              background: url('../../dist/images/l-lm-shop-icon.png');
              width: 26px;
              height: 26px;
              position: relative;
              top: 3px;
              left: -10px;
            }
            &:hover {
              background: #d07305;
            }
          }
        }
      }
    }
  }
  &.m-mobile {
    display: none;
    background: url('../../dist/images/l-lm-second-bg-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    @media (max-width: 1080px) {
      display: block;
    }
    .m-products__mobile--head {
      text-align: center;
      padding: 20px 10px 0px 15px;

        .c-products__mobile--title {
          span {
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
          }
        }
        .c-products__mobile--subtitle {
          padding-top: 15px;
          span {
            font-size: 14px;
            color: #ffe96c;
            line-height: 23px;
          }
        }

    }
    .m-products__mobile--content {
      float: left;
      width: 100%;
      .c-carousel--images {
          overflow: hidden;
        ul {
          li {
            text-align: center;
            float: left;
            border: 10px solid #8274e8;
            img {
              max-width: 290px;
            }
          }
        }
      }
    }
    .m-products__mobile--bottom {
      padding: 8px 0 40px;
      display: inline-block;
      text-align: center;
      width: 100%;
      .c-button-mobile {
        display: inline-block;
        margin-top: 15px;
        span {
          color: #fff;
          background: #ff8a00;
          border-bottom: 3px solid #c06800;
          border-radius: 5px;
          padding: 7px 25px;
          &:before {
            content:"";
            display: inline-block;
            background: url("../../dist/images/l-lm-shop-icon-mobile.png");
            width: 16px;
            height: 16px;
            position: relative;
            left: -8px;
            top: 2px;
          }
        }
      }
    }
  }
}

/*Fim Section 2*/

/*Section 3*/
.l-u--oficial {
  background: url('../../dist/images/l-lm-third-bg.png');
  position: relative;
  padding: 20px;
  @media (min-width: 1080px){
      background-attachment: fixed;
  }
  @media (max-width:1080px){
    background: url('../../dist/images/l-lm-third-bg-2-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
  }
  .m-title--area {
    width: 60%;
    display: inline-block;
    @media (max-width: 1080px){
      width: 100%;
      text-align: center;
      .c-title {
        span {
          font-size: 20px;
        }
      }
      .c-subtitle {
        @media(max-width: 1080px){
          padding-top: 20px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
  .m-content--area {
    display: inline-block;
    width: 100%;
    .m-content--area__products {
      padding-top: 40px;
      float: left;
      display: inline-block;
      position: absolute;
      @media (max-width: 1080px){
        padding-top: 0;
      }
      ul {
        li {
          padding: 0 10px;
          float: left;
          position: relative;
          @media (max-width: 1080px){
            left: -40px;
            text-align: center;
          }
          &:nth-child(1) {
            top: 22px;
            @media(max-width: 1080px){
              top: -11px;
            }
          }
          &:nth-child(2) {
            top: 60px;
            @media(max-width: 1080px){
              top: 0;
            }
          }
          &:nth-child(3){
            @media(max-width: 1080px){
              display: none;
            }
            @media(min-width: 454px){
              display: block;
            }
          }
          &:nth-child(4) {
            top: 60px;
            @media(max-width: 1080px){
              display: none;
            }
          }
        }
      }
      .c-product__content {
        .c-product-image--container {
          text-align: center;
          background: #fff;
          padding: 45px 10px;
          border-radius: 15px;
          -webkit-box-shadow: 15px 16px 65px -11px rgba(0,0,0,0.75);
          -moz-box-shadow: 15px 16px 65px -11px rgba(0,0,0,0.75);
          box-shadow: 15px 16px 65px -11px rgba(0,0,0,0.75);
          @media(max-width: 1080px){
              display: inline-block;
              padding: 30px 20px;
          }
          .c-product--image {
            img {
              max-width: 185px;
              @media (max-width: 1080px){
                max-width: 80px;
              }
            }
          }
        }
        .c-product--yellowbox {
          span {
            padding: 15px;
            background: #ffe96c;
            border-radius: 10px;
            margin-top: 10px;
            display: inline-block;
            text-align: center;
            color: #a0236b;
            @media(max-width: 1080px){
              width: 71%;
              font-size: 12px;
              padding: 10px;
            }
          }
        }
      }
    }
    .m-content--area__larissa {
      display: inline-block;
      float: right;
      margin-bottom: -71px;
      margin-top: -140px;
      margin-right: -100px;
      @media (max-width: 1080px){
        display: none;
      }
    }
  }
}
/*Fim section 3*/
