.filter__mensagens{
	width: 100%;
	lost-flex-container: row;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding-left: 2rem;
	padding-right: 2rem;

	.input__checkbox{
		align-self:center;
		margin-right: 4rem;
	}

	.btn{
		min-width: auto !important;
		font-size: 1.5rem;
	}

	.select{
		width: auto !important;
		margin-left: 1rem;
		min-width: 110px;
	}
}


.mensage-list{}
.mensage-list__item{
	padding: 2rem;
	background-color: $color-white;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.mensage-list__item--active{
	background-color: #ffface;

	.mensage-list__item__info__product > h3,
	.mensage-list__item__info__text,
	.mensage-list__item__info__time{
		color: $color-black;
	}

}
.mensage-list__item__info{
	width: 100%;
	lost-flex-container:row;
	align-items:center;
}
.mensage-list__item__info > .input__checkbox{
	margin-right: 4.5rem;
}
.mensage-list__item__info__user{
	width: calc(100% - 70px);
	lost-flex-container:row;
	align-items:center;
	@media (min-width:768px) {
		lost-column:3/12;
		justify-content:space-between;
	}

	> img{
		width: 36px;
		height: 36px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 1rem;
		@media (min-width:768px) {
			width: 70px;
			height: 70px;
			margin-right: 0;
		}
	}

	> h3{
		width: calc(100% - 80px);
		margin-top: auto;
		margin-bottom: auto;
		font-size: 2rem;
		color: #888;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.mensage-list__item__info__product{
	width: calc(100% - 70px);
	lost-flex-container:row;
	align-items:center;
	margin-left: 70px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media (min-width:768px) {
		lost-column:2/12;
		margin: 0;
		justify-content:space-between;
	}

	> img{
		width: 21px;
		height: 36px;
		overflow: hidden;
		margin-right: 1rem;
		@media (min-width:768px) {
			width: 55px;
			height: 70px;
			/*margin-right: 0;*/
		}
	}

	> h3{
		width: calc(100% - 80px);
		margin-top: auto;
		margin-bottom: auto;
		font-size: 1.6rem;
		color: #888;
		font-weight: 500;
	}
}
.mensage-list__item__info__text{
	lost-column:4/12;
	color: #888;
	font-size: 1.4rem;
	display: none;
	@media (min-width:768px) {
		display: block;
	}
}
.mensage-list__item__info__time{
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	color: #888;
	@media (min-width:768px) {
		lost-column:2/12;
		text-align: right;
	}
}
[data-more="msg"]{
	display: none;
}
.mensage-list__item__details{
	width: 100%;
	max-height: 500px;
	overflow-y: scroll;
	@media (min-width:768px) {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}
div.mensage-list__item__details__item{
	@media (min-width:768px) {
		padding-left: 6rem;
		padding-right: 6rem;
	}

/*	&:last-of-type > .mensage-list__item__details__item__content:last-of-type{
		background-color: transparent;
		padding: 0;
	}*/
}

div.mensage-list__item__details__item__np{
 	background-color: transparent !important;
 	padding:0;
}
.mensage-list__item__details__item{
	width: 100%;
	lost-flex-container:row;
}
.mensage-list__item__details__item__content{
	width: 100%;
	background-color: #f4f4f4;
	padding: 2rem;
	margin-bottom: 3rem;
	align-self:flex-start;
	border-radius: 10px;
	@media (min-width:768px) {
		lost-column:1/2;
	}

	color: #888;
	font-size: 1.4rem;

	& + &{
		background-color: #e9ffff;
	}

	> span{

		> time{}
	}

	> p{

	}

	.produtc__form__ask textarea{
		min-height: 110px;
	}
}
