/*
*
*  Novos estilos das notificações do topo.
*/

.notification-icon{
	min-width: 300px;
	max-height: 280px;
	overflow-y: scroll;
	width: 100%;
	background-color: #fff;
}
.notification-icon__title{
	font-size: 1.4rem;
	font-family: $font;
	color: #bcbcbc;
	line-height: 1.2;
	padding: 1rem;
	display: block;
	border-bottom: 1px solid #e7e7e7;
}
.notification-icon__nav{
	// max-height: 280px;
	// overflow-y: scroll;
	width: 100%;
	background-color: #fff;
	@media (min-width: 568px) {
		min-width: 400px;
	}
}
.notification-icon__nav__item{
	width: 100%;
	lost-flex-container:row;
	padding: 1rem;
	// justify-content:space-between;
	align-items:center;
    border-bottom: 1px solid #ededed;
}
.notification-icon__nav__item--active{
	background-color: #f4f4f4;
}
.notification-icon__user{
	margin: 0;
	width: 40px;
	height: 40px;
	position: relative;

	img{
		border-radius: 50%;
	}
}
.notification-icon__user__icon{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fb2d7b;
	position: absolute;
	bottom: 0;
	right: 0;
	lost-flex-container:row;
	align-items:center;
	justify-content:center;

	> .icone{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1rem;
		color: $color-white;
	}
}
.notification-icon__text{
	margin: 0;
	width: calc(100% - 80px);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #888;
	font-size: 1.4rem;

	> span{
		text-transform: uppercase;
		color: $jagger;
	}

	> time{
		font-size: 1.2rem;
		display: block;
		margin-top: .5rem;
	}
}
.notification-icon__text--full{
	width: calc(100% - 40px);
	padding-right: 0;
}
.notification-icon__product{
	margin: 0;
	width: 40px;
	height: 40px;
	overflow: hidden;

	img{
		display: block;
	}
}

.notification-icon__button{
	background-color: $scooter;
	color: $color-white;
	text-align: center;
	font-size: 1.4rem;
	width: 100%;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.notification-icon__savings{
	width: 100%;
	lost-flex-container:row;
	padding: 1rem;
	align-items:center;
    border-bottom: 1px solid #ededed;
}
.notification-icon__savings__image{
	margin: 0;
}
.notification-icon__savings__content{
	padding-left: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}
.notification-icon__savings__content__item{
	width: 100%;
	lost-flex-container:row;
	justify-content:space-between;
	align-items:center;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-size: 1.4rem;
	color: #888;
	margin-bottom: .5rem;

	&:first-child{
		background-color: #f4f4f4;
		color: $jagger;
		padding-top: .5rem;
		padding-bottom: .5rem;
		text-transform: uppercase;
	}

	&:last-child{
		margin-bottom: 0;
	}
}
.notification-icon__savings__content__item__label{}
.notification-icon__savings__content__item__value{}

// ======================
//        FIM
// ======================





.notification{
	min-width: 300px;
	max-height: 280px;
	overflow-y: scroll;
	width: 100%;
	background-color: #fff;
}

.notification__item{
	width: 100%;
	lost-flex-container:row;
	padding: .5rem;
	justify-content:space-between;
	align-items:center;
	/*border-top: 1px solid #ededed;*/
    border-bottom: 1px solid #ededed;
}
.notification__item--active{
	background-color: #fff9c7;

	.notification__text__product{
		color: $jagger;
	}
}
.notification__item--msg{
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 9px;
	padding-top: 9px;

}

.notification__midia{
	// lost-column:1/3 0 0;
	display: flex;
	flex-flow:row nowrap;
	position: relative;
	margin-right: auto;
	margin-left: auto;

	&:after{
		content: '\279C';
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		font-size: 2rem;
		color: $jagger;
	}
}
.notification__midia__user{
	border-radius: 50%;
	margin-right: .5rem;
}
.notification__midia__user__msg{
  align-self:center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.notification__midia__ico{
	&:after{
		content: ' ' ;
	}
    .icone{
	content: '';
    position: absolute;
    top: 50%;
    left: 67px;
    background: #ff1d75;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    line-height: 2.1;
    lost-flex-container:row;
    align-items:center;
    justify-content:center;
	}
}

.notification__text{
	// lost-column:2/3 0 0;
	color: #888;
	padding-left: .5rem;
	padding-right: .5rem;
	flex-grow:1;
	text-align: center;
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
	@media (min-width:768px) {
		width: auto;
		text-align: left;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.notification__text__product{
	font-weight: 600;
}
.notification__text__store{
	font-weight: 600;
	width: 100%;
	text-align: center;
	color: #888;
	@media (min-width:768px) {
		width: auto;
		text-align: left;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.notification__list__msg{
	background: #fff;
	width: 100%;
	lost-flex-container:row;
	margin-top: 2rem;
	@media (min-width:768px) {
		width: auto;
		text-align: left;
	}
}




.savings-notificiation{
	min-width: 300px;
	max-height: 280px;
	overflow-y: scroll;
	width: 100%;


	.amount{
		padding: 1rem 0 0;
	}
	.amount__item{
		padding-left: 2rem;
		padding-right: 2rem;

		span{
			text-align: left;
		}
	}

	.notification__item{
		padding-left: 2rem;
		padding-right: 2rem;

		.notification__midia{
			width: auto;
		}

		.notification__text{
			flex-grow:1;
		}

	}
}

.savings-notificiation__divisor{
	margin: 1rem 2rem;
	height: 1px;
	background-color: #dadada;
}



.notification__item--link{
	padding: 5px;
	margin-left: 32px;
	padding: 0%;
	@media (max-width: 768px) {
		padding-right: 6%;
	}
}

.notification__cliente{
	align-items: center;
	lost-flex-container: row wrap;
}
.notification__name{
	color: #d2d2d2;
	margin-bottom: 2px;
	@media (min-width: 768px) {
		width: auto;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 0;
	}
}
.notification__text__hora{
	margin-right: 11px;
	@media (max-width:768px) {
		margin-top: 20px;
	}
}
.notification__image{
	margin-top: 5px;
	align-self: center;
	margin-left: 0;
}
.notification__item--box{
	padding-left: 2rem;
}
.notification-box{
	padding: 2rem;
}
.notification__descricao{
	text-align: center;
}
