.poupanca-page{
	width: 100%;
	lost-flex-container:row;
}

.poupanca-page-saving{
	width: 100%;
	@media (min-width: 920px) {
		lost-column:4/12;
		lost-move:8/12;
	}
}
.poupanca-page-saving__resume{
	background-color: $color-white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 7px solid #e4e4e4;
	padding: 2rem;
	lost-flex-container:row;
	align-items:flex-start;
}
.poupanca-page-saving__resume__title{
	background-color: $scooter;
	color: $color-white;
	text-transform: uppercase;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	padding: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}
.poupanca-page-saving__resume__total{
	width: 100%;
	text-align: center;
	color: #888;
	font-size: 3rem;
	font-weight: 600;
	display: none;
	@media (min-width:920px) {
		display: block;
	}
}
.poupanca-page-saving__resume__pig{
	lost-column:2/6 0 0;
	display: block;
	margin: 0;
	padding-right: 1rem;
	text-align: center;
	@media (min-width:920px) {
		width: 100%;
		margin: 3rem auto;
		padding-right: 0;
		text-align: left;

		& > img{
			max-height: 100% !important;
		}
	}

	& > img{
		max-height: 110px;
	}
}
.poupanca-page-saving__resume > .amount{
	padding: 0;
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	padding: 1.5rem;
	lost-column:4/6 0 0;
	@media (min-width:920px) {
		width: 100%;
	}

	.amount__item:last-of-type{
		margin-top: 1.5rem;

		.amount__item__label,
		.amount__item__value{
			font-weight: 600;
		}
	}

	.amount__item__label,
	.amount__item__value{
		width: 50%;
	}
}
.poupanca-page-saving__ranking{
	background-color: #eee;
	padding: 2rem;
	lost-flex-container:row;
	justify-content:space-between;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	.icon-poupanca{
		font-size: 4rem;
		color: #d8d8d8;
	}
}






.poupanca-page-details{
	width: 100%;
	@media (min-width: 920px) {
		lost-column:8/12;
		lost-move:-4/12;
	}
}
.poupanca-page-details-list{
	width: 100%;
	max-height: 550px;
	overflow-y: scroll;
}
.poupanca-page-details-list__item{
	width: 100%;
	lost-flex-container:row;
	align-items:center;
	background-color: $color-white;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 1.2rem;

	.order-status{
		lost-column:1/9;
		font-size: 1.6rem;
		color: #bcbcbc;
	}
	.order-info{
		lost-column:2/9;
		font-size: 1.6rem;
		color: #bcbcbc;
		flex-grow: 1;
		text-align: center;
		@media (min-width:920px) {
			text-align: left;
			flex-grow:0;
		}

		strong{
			font-size: 2rem;
			color: #888;
			font-weight: 500;
		}
	}
	.order-store{
		lost-column:2/9;
		color: #888;
		text-align: center;
		display: none;
		@media (min-width:920px) {
			display: block;
		}
	}
	.order-price{
		lost-column:2/9;
		font-size: 2rem;
		color: #888;
		text-align: center;
	}
	.order-shiping{
		lost-column:2/9;
		font-size: 1.6rem;
		color: #bcbcbc;
		text-align: center;
		display: none;
		@media (min-width:920px) {
			display: block;
		}
	}

}




.poupanca-page-bank{
	width: 100%;
	margin-top: 3rem;
}
.poupanca-page-bank__nav{
	width: 100%;
	lost-flex-container:row;

	> .tab--active{
		background-color: $color-white;
		transform:scaley(1.2);
		border-right: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		z-index: 1;

		.poupanca-page-bank__nav__item__icon{
			color: $scooter;
		}
	}
}
.poupanca-page-bank__nav__item{
	background-color: #eee;
	border-right: 7px solid #e4e4e4;
	lost-column:1/3 0 0;
	lost-flex-container:row;
	align-items:center;
	justify-content:center;
	color: #bcbcbc;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;

	&:after{
		content:'';
		display: block;
		position: absolute;
		top: 50%;
		right: -14px;
		transform:translatey(-50%);
		background: transparent url($img-path/embreve.png) 0 0 no-repeat;
		width: 87px;
		height: 35px;
	}

	&:first-of-type:after{
		display: none;
	}

	&:last-of-type{
		border-right: none;
	}
}
.poupanca-page-bank__nav__item__icon{
	font-size: 2.5rem;
	margin-right: 1rem;
}
.poupanca-page-bank__nav__item__label{
	max-width: 120px;
	font-size: 1.6rem;
	color: #bcbcbc;
	display: none;
	@media (min-width:920px) {
		display: inline-block;
	}
}
.poupanca-page-bank__content{}
.poupanca-page-bank__content[data-tab-on="1"] > .poupanca-page-bank__content__item{
	display: flex;
}
.poupanca-page-bank__content__item{
	display: none;
	padding: 2.5rem;
	background-color: $color-white;
	lost-flex-container:row;
}

.poupanca-page-bank__content__account{
	width: 100%;
	margin-bottom: 2rem;
	@media (min-width:920px) {
		lost-column:1/3;
		margin-bottom: 0;
	}

	.text{
		margin-top: 2rem;
		margin-bottom: 2rem;
		display: block;
	}

	.form__wrap--inline{
		align-items:center;
	}

	.form__wrap__item{
		width: 25%;
		flex-grow:1;

		&:first-of-type{
			flex-grow:0;
		}

		&:last-of-type{
			width: 100%;
			margin-top: 1rem;
			@media (min-width:920px) {
				margin-left: 1.5rem;
				margin-top: 0;
				width: auto;
			}
		}

		> .btn--default{
			min-width: 100%;
		}
	}
}
.poupanca-page-bank__content__newaccount{
	width: 100%;
	border: 3px solid #f4f4f4;
	border-radius: 5px;
	padding: 1.5rem;
	@media (min-width:920px) {
		lost-column:2/3;
	}

	.form__wrap--inline:first-of-type{
		justify-content:space-between;
		@media (min-width:920px){
			margin-bottom: 2rem;
		}

		.form__wrap__item{
			width: 100%;
			margin-bottom: 2rem;
			@media (min-width:920px) {
				width: 20%;
				margin-bottom: 0;
			}
		}
	}

	.form__wrap--inline:last-of-type{

		.form__wrap__item:first-of-type{
			width: 100%;
			margin-bottom: 2rem;
			@media (min-width:920px) {
				width: 70%;
				margin-bottom: 0;
			}
		}
		.form__wrap__item:last-of-type{
			width: 100%;
			margin-bottom: 2rem;
			@media (min-width:920px) {
				width: 20%;
				margin-bottom: 0;
			}

			.btn--default{
				min-width: 100%;
			}

		}
	}

}
.poupanca-page-bank__content__newaccount__title{
	font-size: 1.6rem;
	color: $pink-salmon;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 2rem;
}
.bank-select{

	> input[type="radio"]{
		position: absolute;
		visibility: hidden;
	}

	> label{
		cursor: pointer;
	}

	> input[type="radio"] + label > img{
		border: 2px solid transparent;
		border-radius: 50%;
		padding: 0.3rem;
	}

	> input[type="radio"]:checked + label > img{
		border-color: #d3d3d3;
	}
}
