/*---
title:   Alerts
section: Base CSS
---
Button styles can be applied to **any** element.

```example:html
<span class="alert">aqui vai o alerta</span>
```
*/
*/
.alert{
	background-color: #fafafa;
	border-radius: 6px;
	border-bottom: 2px solid #ececec;
}
.alert--intab{
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	padding: 2.5rem;
	border-bottom: 2px solid #ececec;
	border-radius: 5px;
	align-self: flex-start;
}
.alert--bg-grey{
	background-color: #fafafa;
}
.alert--nobg{
	background: none;
	border: none;
}

.alert--center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	align-self: flex-start;
}

.alert__message{
	color: #888;
	margin-bottom: 2rem;
	display: block;
}
.alert__message--large{
	font-size: 2rem;
}
.alert__message--success{

	i{
		color: #89d148;
		font-size: 4rem;
		display: block;
		margin-bottom: 1.5rem;
	}
}
