.dropdown__nav[data-dropdown-nav="on"]{
	display: block;
}


.dropdown{
	position: relative;
}

.dropdown__nav{
	position: absolute;
	top: 140%;
	left: 0;
	z-index: 99999;
	display: none;
	background-color: $color-white;
	border-radius: 5px;
	//padding: 1rem;
	border: 3px solid #e7e7e7;

	&:after, &:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 7px;
		margin-left: -7px;
		left: 70.9%;
		@media (min-width: 920px) {
			left: initial;
			right: 15px;
		}
	}
	&:before {
		border-color: rgba(231, 231, 231, 0);
		border-bottom-color: #e7e7e7;
		border-width: 11px;
		margin-left: -11px;
	}
}

.dropdown__nav--green{
	background-color: $scooter;
	border: solid 1px $scooter;

	&:before, &:after{
		border-bottom-color: $scooter;
	}
}

.dropdown__nav--white{
	background-color: #fff;
	border: solid 3px #ebebeb;

	&:before, &:after{
    border-bottom-color: #ebebeb;
	}
}

.dropdown__nav--right{
	left: initial;
	right: 0;

	&:before{
		left: initial !important;
		right: 0px;
	}
}

.dropdown__nav__item{
	display: block;
	/*color: $color-white;*/
	color: #888888;
	font-size: 1.6rem;
	font-weight: 500;
	/*padding: .5rem;*/
	padding: 0.6rem;
	&:hover {
		color: #51cfd4;
    transition: 0.4s ease-in-out;
    background: #f1f1f1;
	}
	/* variations */
	&.item {
		&--config {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/config-icon.png');
				width: 15px;
				height: 15px;
				top: 4px;
			 margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/config-icon-active.png');
				}
			}
		}
		&--venda {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/icone-produtos.png');
				width: 16px;
				height: 5px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/icone-produtos-active.png');
				}
			}
		}
		&--compras {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/shopp-icon.png');
				width: 15px;
				height: 14px;
			  margin-right: 11px;
	     	top: 3px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/shopp-icon-active.png');
				}
			}
		}
		&--mensagens {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/msg-icon.png');
				width: 16px;
				height: 11px;
				top: 2px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/msg-icon-active.png');
				}
			}
		}
		&--notif {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/notif-icon.png');
				width: 13px;
				height: 16px;
				top:3px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/notif-icon-active.png');
				}
			}
		}
		&--favoritos {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/star-icon.png');
				width: 16px;
				height: 15px;
				top:2px;
		   	margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/star-icon-active.png');
				}
			}
		}
		&--poupanca {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/pig-icon.png');
				width: 16px;
				height: 13px;
				top:3px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/pig-icon-active.png');
				}
			}
		}
		&--help {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/help-icon.png');
				width: 16px;
				height: 16px;
				top:3px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/help-icon-active.png');
				}
			}
		}
		&--logout {
			&:before {
				content: "";
				display: inline-block;
				background: url('../../dist/images/logout-icon.png');
				width: 18px;
				height: 16px;
				top:3px;
			   margin-right: 11px;
				position: relative;
				transition: 0.4s ease-in-out;
			}
			&:hover {
				&:before {
					background: url('../../dist/images/logout-icon-active.png');
				}
			}
		}
	}
}
