.figurinha-list{
	lost-flex-container:row;
	width: 100%;
}
.figurinha-list--border{
	border-bottom: 1px solid #bdbdbd;
	margin-bottom: 3rem;
	@media (min-width: 1170px) {
		padding-bottom: 3rem;
	}

	&:last-of-type{
		border-bottom: none;
		padding-bottom: 0;
	}
}


.figurinha__item{
	margin-bottom: 3rem;
	text-align: center;
	lost-column:1/2;

	@media (min-width: 768px) {
		lost-column:1/3;
	}
	@media (min-width: 960px) {
		lost-column:1/4;
	}
	@media (min-width: 1170px) {
		lost-column:1/5;
	}

	&:hover{

		.figurinha__midia > img{filter: blur(5px);}
		.figurinha__midia__hover{
			visibility: visible;
			opacity: 1;
		}
	}

}
.figurinha__midia{
	margin: 0;
	position: relative;

	img{
		border-radius: 10px;
	}
}
.figurinha__midia__hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: .15s;

	img{
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.figurinha__title{
	font-size: 1.6rem;
	font-weight: 700;
	color: $scooter;
	margin-top: 1rem;
	margin-bottom: 0;
}
