.dropdown__nav__wrap__inner{
	position: relative;
	height: 480px;
	overflow: hidden;
}
.dropdown__nav__wrap__inner[data-nav-wrap="1"]
> .dropdown__nav__wrap:nth-of-type(1){
	transform:translate(0, -50%);
}
.dropdown__nav__wrap__inner[data-nav-wrap="2"]
> .dropdown__nav__wrap:nth-of-type(2){
	transform:translate(0, -50%);
}
.dropdown__nav__wrap__inner[data-nav-wrap="3"]
> .dropdown__nav__wrap:nth-of-type(3){
	transform:translate(0, -50%);
}
.dropdown__nav__wrap__inner[data-nav-wrap="4"]
> .dropdown__nav__wrap:nth-of-type(4){
	transform:translate(0, -50%);
}
.dropdown__nav__wrap__inner[data-nav-wrap="5"]
> .dropdown__nav__wrap:nth-of-type(5){
	transform:translate(0, -50%);
}
.dropdown__nav__wrap__inner[data-nav-wrap="6"]
> .dropdown__nav__wrap:nth-of-type(6){
	transform:translate(0, -50%);
}

.dropdown__nav__wrap{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform:translate(100%, -50%);
	transition: transform .4s;
	padding-right: .5rem;
	padding-left: .5rem;
}
