/*
*
*
* Estilos da primeira aba de carrinho
*/
.cart__content{
	height: 70vh;
	/*overflow-y: scroll;*/
}
.floatingtabs__footer__cart{
    overflow-y: hidden;
}
.cart__order{
	margin-bottom: 1rem;
    border-top: 3px solid #f4f4f4;

    &:first-of-type{
		border-top: none;
	}

	.text{
		margin-left: 8px;
	}
}
.footer__cart {
    max-height: 160px;
    height: 160px;
}

.resume-cart-order{
	max-height: 260px;
	overflow-y: scroll;
}
.resume-cart-order__item{
	width: 100%;
	lost-flex-container:row;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 1rem;

	&:last-of-type{
		border-bottom: none;
	}
}
.resume-cart-order__item__store{
	lost-column:1/3;
}
.resume-cart-order__item__details{
	color: #888;
	padding-left: 2.5rem;

	> span{
		background-color: #fffbde;
		color: #888;
		padding: .5rem 1rem;
		display: block;
		margin-bottom: .5rem;
	}
}
.resume-cart-order__item__products{
	lost-column:2/3;
}

.cart__order__header{
	lost-flex-container:row;
	justify-content: space-between;
	align-items: center;
    justify-content: left;
	margin-bottom: 1rem;

	.select{
		width: 35%;
	}
    .message{
        font-size: 1.5rem;
        font-weight: 400;
        color: #888;
        //padding: 15px 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}
.cart__order__store{
	width: 100%;
	lost-flex-container:row;
	align-items: center;
    justify-content: center;
    padding: 10px 0;

	img{
		border-radius: 50%;
		max-width: 25px;
		height: auto;
	}

	strong{
		font-size: 1.6rem;
		font-weight: 700;
		color: #888;
		margin-left: .5rem;
	}
}
.cart__order__item{
	background-color: #f4f4f4;
	border-radius: 10px;
	position: relative;
	padding: 0.5rem;
	lost-flex-container:row;
	margin: 1rem;
}
.cart__order__item__delete{
	position: absolute;
	top: -7px;
	left: 0;
	color: #d00058;
	font-size: 1.6rem;
	cursor: pointer;
}
.cart__order__item__midia{
	margin: 0;
	width: 15%;
	align-self: flex-start;
}
.cart__order__item__info{
	width: 80%;
	padding-left: 1rem;
	lost-flex-container:row;
}
.cart__order__item__title{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.6rem;
	color: #888;
	line-height: 1.2;
	font-weight: 400;
	width: 50%;
}
.cart__order__item__price{
	width: 50%;
	align-self: center;
	text-align: right;

	span{
		font-size: 2rem;
		color: #888;
		font-weight: 500;
	}
}

.cart__resume{
	lost-flex-container:row;
	height:85px;
}


.cart__action__fields{
	width: 100%;
	lost-flex-container:row;
}
.cart__action__fields__item{
	width: 50%;
}




/*
*
*
* Estilos da segunda aba de carrinho
*/
.address__wrap{
	background-color: $color-white;
	padding: 2rem;
}
.address__default{
	margin-top: 0;
	margin-bottom: 0;
	color: #727272;
	margin-bottom: 2rem;

	&:after{
		content: '';
		display: block;
		border-bottom: 4px dotted #eaeaea;
		margin-top: 2rem;
	}
}
.address__list{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.address__list__item{
	lost-flex-container:row;
	align-items: center;
	margin-bottom: 1.5rem;

	.input__radio{
		width: 80%;

		label{
			width: 100%;

			&:before{
				vertical-align: top;
				margin-top: 3px;
			}

			&:after{
				top: 6px;
			}

			span{
				line-height: 1;
				width: 80%;
				display: inline-block;
				color: #bcbcbc;
				font: 1.6rem;

				strong{
					display: block;
					color: #888;
					font-weight: 400;
				}
			}
		}
	}
}
.address__list__item__action{
	width: 20%;
	lost-flex-container:row;
	justify-content:space-around;
}
.address__list__item__action__item{

	&[data-edit="address"]{color: $scooter;}
	&[data-delete="address"]{color: #d00058;}
}

[data-form-endereco="close"]{
	display: none;
}
















/*
*
*
* Estilos da terceira aba de carrinho
*/
.c-icon-lock {
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	margin-bottom: 17px;
}
.pay__nav{
	lost-flex-container:row;
	justify-content: space-around;
	margin-bottom: 2rem;

	> .tab--active{
		background-color: $scooter;
		border-color: $scooter;
		border-bottom-color: #20969a;

		> .pay__nav__item__icon,
		> .pay__nav__item__label{
			color: $color-white;
		}
	}
}
.pay__nav__item{
	width: 80px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	border-bottom: 3px solid #ccc;
	text-align: center;
	transition: .2s;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.pay__nav__item__icon{
	color: $scooter;
	font-size: 3.5rem;
	transition: .2s;
}
.pay__nav__item__label{
	display: block;
	margin-top: .5rem;
	font-size: 1.6rem;
	font-weight: 200;
	color: $scooter;
	transition: .2s;
}
.pay__content[data-value="codformapagamento"]{
	.pay__content__item{
		.form__wrap {
			margin-bottom: 1rem;
		}
	}
}
.pay__content__item{
	display: none;
}






/*
*
*
* Estilos da quarta aba de carrinho
*/
.resumecart__order{
	background-color: #fffbde;
	border: 1px solid #d7d7d7;
	padding: 1rem 1.5rem;
	display: block;
	max-width: 295px;
    margin: 0 auto 15px auto;
	text-transform: uppercase;
	color: #727272;
    text-align: center;
}
.resumecart-content{
	width: 100%;
	lost-flex-container:row wrap;
	margin-top: 3rem;
}

.resumecart-payment-content{
	width: 100%;
	@media (min-width: 920px) {
		lost-column:1/3
	}
}
.resumecart-payment-content__item{
	margin-bottom: 3rem;

	&:last-of-type{
		@media (min-width:920px) {
			margin-bottom: 0;
		}
	}
}
.resumecart-payment-content__title{
  margin-top: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1.2;
  color: $scooter;
}
.resumecart-payment-content__text{
  color: #727272;
  line-height: 1.2;
}




.resumecart-order-content{
	width: 100%;
	@media (min-width: 920px) {
		lost-column:2/3
	}
}
.resumecart-order-content__item{
	margin-bottom: 2rem;
	width: 100%;
	lost-flex-container:row;

	&:last-of-type{
		justify-content:flex-end;
	}

    .back{
        width: 100%;
        text-align: right;
        font-size: 1.6rem;
        color: #ef8d00;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px 30px;
    }
}

.resumecart-order-content__item__wrap{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media (min-width: 768px) {
		lost-column:2/3;
	}

}

.saving-tip{}



.cvc{
	> .form__wrap__title{width: 65%;}
	> .form__wrap__item{width: 30%}
}
.parcelas{
	> .form__wrap__title{width: 30%;}
	> .form__wrap__item{width: 65%}
}
